Pillow
PyYAML
git+https://github.com/chynggi/audioldm_eval.git
braceexpand
deepdiff
einops
flash-attn
ftfy
h5py
ipdb
ipython
librosa
matplotlib
numpy
omegaconf
pandas
pytorch-lightning
regex
requests
resampy
scikit-learn
scipy
soundfile
taming-transformers
timm
torch
torchaudio
torchlibrosa
torchmetrics
torchvision
tqdm
transformers
vector-quantize-pytorch
wandb
webdataset
wget
